%%-*- mode: erlang -*-

{edoc_opts, [
    {application, ["couchbeam"]}
    ]}.

{deps, [
    %% ejson for JSON and header parsing
    {ejson, "0.1.0", {git,"http://github.com/kevsmith/ejson.git",
                      {tag, "a7a429a7a4d8a845b2139aa7d30a93924e6b2e25"}}},

    %% erlang-oauth for oauth authentification
    {oauth, "0.1", {git,"git://github.com/benoitc/erlang-oauth.git",
                   {tag, "2b796ea7973c0f38aad569bf2506bd8026eca004"}}},
    
    %% ibrowse for doing HTTP requests
    {ibrowse, "v2.2.0-8-gb848be0", {git, "git://github.com/cmullaparthi/ibrowse.git",
                                    {tag, "b848be03f9b9c7a1a4d8479cf0af67bd057268b0"}}}
]}.
