%%-*- mode: erlang -*-

{edoc_opts, [
    {application, ["couchbeam"]}
    ]}.

{deps, [
    %% ejson for JSON and header parsing
    {ejson, "0.1.0", {git,"http://github.com/kevsmith/ejson.git",
                      {tag, "0.1"}}},

    %% erlang-oauth for oauth authentification
    {oauth, "0.1", {git,"git@github.com:opscode/erlang-oauth.git", {branch, "master"}}},

    %% ibrowse for doing HTTP requests
    {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git",
                     {tag, "b848be03f9b9c7a1a4d8479cf0af67bd057268b0"}}}
]}.
